{% extends 'base.html.twig' %}

{% block title %}Nowy album - MusicRate{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nowy album:</h5>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name, 'Nazwa', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description, 'Opis', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.release_date, 'Data wydania', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(form.release_date) }}
                {{ form_widget(form.release_date, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.genres, 'Gatunki', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_widget(form.genres, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image, 'Zdjęcie', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
            </div>
            <input type="submit" value="Dodaj" class="btn btn-primary btn-raised" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
