{% extends 'base.html.twig' %}

{% block title %} {{ album.name }} - MusicRate{% endblock %}
{% block body %}
    <h1>{{ album.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Wykonawca: </th>
                <td>
                    <a href="{{ path('artist_show', { 'id': album.artist.id }) }}">
                    {{ album.artist.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Data wydania: </th>
                <td>{{ album.releaseDate.format("d.m.Y") }}</td>
            </tr>
            <tr>
                <th>Opis: </th>
                <td>{{ album.description }}</td>
            </tr>
            <tr>
                <th>Gatunki: </th>
                <td>{% if album.genres %}
                        {% for genre in album.genres %}
                            <a href="{{ path('genre_show', { "id" : genre.id}) }}">{{ genre.name }}</a>
                        {% endfor %}
                    {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('album_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('album_edit', { 'id': album.id }) }}">Edytuj</a>
            </li>
            {% if not album.approved %}
            <li>
                {{ form_start(approved_form) }}
                <input type="submit" value="Zatwierdź" class="btn btn-outline-success btn-sm" />
                {{ form_end(approved_form) }}
            </li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm" />
                {{ form_end(delete_form) }}
            </li>
        {% endif %}

    </ul>
{% endblock %}
