{% extends 'base.html.twig' %}

{% block title %}Edycja - MusicRate{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edytuj gatunek:</h5>
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_label(edit_form.name, 'Nazwa', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.description, 'Opis', {'label_attr': {'class': 'bmd-label-static'}}) }}
                {{ form_errors(edit_form.description) }}
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <input type="submit" value="Edytuj" class="btn btn-primary btn-raised" />
            {{ form_end(edit_form) }}

            {% if is_granted('ROLE_ADMIN') %}
                {% if not genre.public %}
                    <form action="{{ path('genre_set_public', {'id': genre.id}) }}" method="post" >
                        <input type="submit" value="Ustaw jako publiczny" class="btn btn-warning btn-raised"
                               onclick="return confirm('Na pewno ustawić jako publiczny?')">
                    </form>
                {% endif %}

                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-danger btn-raised"
                       onclick="return confirm('Na pewno chcesz usunąć?')"/>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
