{% extends 'base.html.twig' %}

{% block title %}{{ genre.name }} - MusicRate{% endblock %}
{% block body %}
    <h1>{{ genre.name }}</h1>
    <p>{{ genre.description }}</p>

    <ul>
        <li>
            <a href="{{ path('genre_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('genre_edit', { 'id': genre.id }) }}">Edytuj</a>
            </li>
            {% if not genre.approved %}
                <li>
                    {{ form_start(approved_form) }}
                    <input type="submit" value="Zatwierdź" class="btn btn-outline-success btn-sm" />
                    {{ form_end(approved_form) }}
                </li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm" />
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
