{% extends 'base.html.twig' %}

{% block title %} {{ genre.name }} - MusicRate {% endblock %}
{% block container %}
    {% if genre.public == false %}
        <h5 class="text-warning">Ten wpis nie jest jeszcze zatwierdzony przez administratora i nie jest widoczny dla innych użytkowników.</h5>
    {% endif %}
<div class="row">
    <div class="col">
        <h3 class="card-title">{{ genre.name }}</h3>
        <p>{{ genre.description }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('genre_edit', { 'id': genre.id }) }}">Edytuj</a>
        {% endif %}
        <br><br>
        <h6>Albumy z gatunku {{ genre.name }}:</h6>
        {% for album in genre.albums %}
            <ul class="list-group bmd-list-group-sm">
                <a href="{{ path('album_show', {'id': album.id}) }}" class="list-group-item">
                    <div class="bmd-list-group-col">
                        <p class="list-group-item-heading">{{ album.name }}</p>
                        <p class="list-group-item-text">{{ album.artist.name }}</p>
                    </div>
                </a>
            </ul>
        {% else %}
            <i>Nie ma jeszcze albumów z tego gatunku..<br></i>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary btn-raised" href="{{ path('genre_edit', { 'id': genre.id }) }}">Edytuj</a>
            {% if not genre.public %}
                <form action="{{ path('genre_set_public', {'id': genre.id}) }}" method="post" >
                    <input type="submit" value="Ustaw jako publiczny" class="btn btn-warning btn-raised"
                           onclick="return confirm('Na pewno ustawić jako publiczny?')">
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
