<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Music<i class="material-icons">stars</i>Rate</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('artist_index') }}">Wykonawcy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('album_index') }}">Albumy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('genre_index') }}">Gatunki</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>