{% extends 'base.html.twig' %}

{% block title %}MusicRate{% endblock %}
{% block container %}
    {% if artists %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Wykonawcy</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td><a href="{{ path('artist_show', { 'id': artist.id }) }}">{{ artist.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if albums %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Albumy</th>
            </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td>
                        <a href="{{ path('album_show', { 'id': album.id }) }}">
                            {{ album.name }}
                            (<a href="{{ path('artist_show', { 'id': album.artist.id }) }}">
                                {{ album.artist.name }}
                            </a>)
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if genres %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Gatunki</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td><a href="{{ path('genre_show', { 'id': genre.id }) }}">{{ genre.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
