{% extends 'base.html.twig' %}

{% block title %}Wykonawcy - MusicRate{% endblock %}
{% block container %}
    <a href="{{ path('artist_new') }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Dodaj nowego wykonawcę</a>
    <div class="card-columns">
        {% for artist in artists %}
            <a href="{{ path('artist_show', { 'id': artist.id }) }}" style="text-decoration: none">
                <div class="card" style="width: 18rem;">
                    {% if artist.image %}
                        <img class="card-img-top"
                             src="{{ cloudinary_url(artist.image, {'height': 300, 'width': 500, 'crop': 'fill'}) }}"
                             alt="artist image" width="100%">
                    {% else %}
                        <img height="" src="{{ asset('default-artist.jpg') }}" alt="album image" width="100%">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ artist.name }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
