{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }} - MusicRate{% endblock %}
{% block body %}
    <h1>{{ artist.name }}</h1>
    <p>{{ artist.description }}</p>
    <h5>Albumy:</h5>
    <ul>
    {% for album in artist.albums %}
        <li>
            <a href="{{ path('album_show', { 'id': album.id }) }}">
                {{ album.name }}
            </a>
        </li>
    {% else %}
        <i>Ten artysta nie ma jeszcze dodanych albumów...</i>
    {% endfor %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul>
        <li>
            <a href="{{ path('album_new', { 'artistId': artist.id }) }}">Dodaj nowy album</a>
        </li>
    </ul>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('artist_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('artist_edit', { 'id': artist.id }) }}">Edytuj</a>
            </li>
            {% if not artist.approved %}
                <li>
                    {{ form_start(approved_form) }}
                    <input type="submit" value="Zatwierdź" class="btn btn-outline-success btn-sm" />
                    {{ form_end(approved_form) }}
                </li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-outline-danger btn-sm" />
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
