{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }} - MusicRate{% endblock %}
{% block container %}

    {% if artist.public == false %}
        <h5 class="text-warning">Wpis o tym atyście nie jest jeszcze zatwierdzony przez administratora i nie jest widoczny dla innych użytkowników.</h5>
    {% endif %}
    <div class="row">
        <div class="col-sm-4">
            {% if artist.image %}
                <img src="{{ cloudinary_url(artist.image, {'crop': 'fill'}) }}" alt="artist image" width="100%">
            {% else %}
                <img src="{{ asset('default-image.jpg') }}" alt="artist image" width="100%">
            {% endif %}
        </div>
        <div class="col-sm-8 mt-3">
            <h3>{{ artist.name }}</h3>
            <p>{{ artist.description }}</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10">
            <ul class="list-group">Albumy:
                {% for album in artist.albums %}
                    <li class="list-group-item" >
                        <a href="{{ path('album_show', { 'id': album.id }) }}">
                            {{ album.name }} ({{ album.releaseDate.format("Y") }})
                        </a>
                    </li>
                {% else %}
                    <i>Ten artysta nie ma jeszcze dodanych albumów...</i>
                {% endfor %}
            </ul>
            {% if artist.public %}
                <a href="{{ path('album_new', { 'artistId': artist.id }) }}" class="btn btn-primary">
                    <i class="fas fa-plus-square"></i> Dodaj nowy album
                </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary btn-raised" href="{{ path('artist_edit', { 'id': artist.id }) }}">Edytuj</a>
                {% if not artist.public %}
                    <form action="{{ path('artist_set_public', {'id': artist.id}) }}" method="post" >
                        <input type="submit" value="Ustaw jako publiczny" class="btn btn-warning btn-raised"
                               onclick="return confirm('Na pewno ustawić jako publiczny?')">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
