{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }} - MusicRate{% endblock %}
{% block container %}

    <div class="card mb-3">
        {#<img class="card-img-top" src=".../100px180/" alt="Card image cap">#}
        <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
            <p class="card-text">{{ artist.description }}</p>
            {#<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('artist_edit', { 'id': artist.id }) }}" class="card-link">Edytuj</a>
            {% endif %}


            <ul class="list-group">Albumy:
                {% for album in artist.albums %}
                    <li class="list-group-item" >
                        <a href="{{ path('album_show', { 'id': album.id }) }}">
                            {{ album.name }} ({{ album.releaseDate.format("Y") }})
                        </a>
                    </li>
                {% else %}
                    <i>Ten artysta nie ma jeszcze dodanych albumów...</i>
                {% endfor %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul>
                    <li>
                        <a href="{{ path('album_new', { 'artistId': artist.id }) }}">Dodaj nowy album</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
